:root {
    --primary-blue: #2A5B8C;
    --accent-black: #1A1A1A;
}

.bg-blue {
    background-color: var(--primary-blue);
}

.text-blue {
    color: var(--primary-blue);
}

.btn-custom {
    background-color: var(--accent-black);
    color: white;
}
    
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icons {
        margin-top: 10px;
    }
    .social-icons a {
        color: #ffffff;
        font-size: 20px;
        margin: 0 10px;
        text-decoration: none;
    }
    .social-icons a:hover {
        color: #08090a; 
    }
